@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Indie Flower', cursive, sans-serif; */
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
  color: #fff
}

.group{
  background-color: white;
  padding: 5px;
  display: inline-block;
  margin: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.button-container .container-inner {
  display: inline-block;
  margin: auto;
}

.Game__bingo_card {
  background-color: #fff;
  padding: 20px;
  display: grid;
  grid-auto-rows: 1fr;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  gap: 20px;
}

.Game__bingo_card  .MuiGrid-container.bingo_card {
  padding: 5px;
}

.Game__bingo_card .square {
  flex-wrap: nowrap;
  padding: 10px;
  margin: 2px;
  background-color: black;
  display: flex;
  text-align: center;
  align-items: center;
  transition: background-color 0.25s ease;
}

.MuiAlert-filledSuccess {
  max-width: 800px;
  margin: 10px 0;
  margin: auto;
}

.MuiGrid-root.square.MuiGrid-item {
  height: 96%;
  padding: 10px;
}

.Game__bingo_card .square:hover {
  cursor: pointer;
  background-color: rgb(71, 71, 71);
}

.MuiDialog-root {
  padding: 20px;
}

.MuiTypography-root {
  text-align: center;
  font-size: 60px;
}

.MuiTypography-root svg {
  font-size: 60px;
  color: #8C1B24
}

.MuiDialog-paper {
  padding: 20px;
}


.Game__bingo_card .square.mark-found {
  background-color: #cf901b;
}

.Game__bingo_card .square.mark-line-complete {
background-color: #038C4C;
}

.bingo_card {
  margin: auto;
}

.button-container {
  margin: 30px auto;
  justify-content: center;
}

.MuiGrid-container.bingo_card {
  margin: auto;
  justify-content: center;
}

.MuiAlert-filledSuccess {
  background-color: #038C4C;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
#completed-line {
  opacity: 0;
}
.button-container .MuiButton-root {
  margin-right: 20px;
  width: 200px;
  height: 50px;
}

.square {
  display: flex;
  justify-content: center;
  font-size: 20px;
  
}

.text-content {
  text-align: center;
  display: block;
  width: 100%;
  color: white;
  align-items: center;
  align-content: center;
}

@media all and (max-width: 768px) {
  .Game__bingo_card {
    padding: 0;
  }
  .button-container .MuiButton-root, button {
    width: 100%;
    margin-bottom: 20px;
  }
  .square span.text-content {
  font-size: 14px !important
  }
}