body{
  background-color: gray;
}
.btn{
  background-color: black;
  height: 24px;
  margin: 1px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: white;
}
.btn:hover{
/*   background-color: yellow; */
/*   color: black; */
}
.group{
  background-color: white;
  padding: 5px;
  display: inline-block;
  margin: 5px;
}

.Game__bingo_cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 20px;
}

.Game__bingo_cards .square {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 2px;
  background-color: black;
  display: flex;
  text-align: center;
  align-items: center;
}

.active{
  background-color: red;
}
.lined{
  background-color: yellow;
  color: black;
}

button{
  color: white;
  background-color: #666ddd;
  border: white solid thin;
  padding: 3px 18px;
  margin: 5px 2px;
}
button:hover{
  color: black;
  cursor: pointer;
}

.square {
  display: flex;
  justify-content: center;
  
}

.text-content {
  text-align: center;
  display: block;
  width: 100%;
  color: white;
  align-items: center;
  align-content: center;

}